
.dragonBackground {
    background-attachment: fixed;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.loginBackround{
    background-image: linear-gradient(120deg, #d4fc79 0%, #ffffffec 100%);
}

.loginButton {
    color: #000000;
    background-color: #3eb00c;
    font-size: 20px;
    border: 3px solid #000000;
    padding: 15px 50px;
    cursor: pointer
}
.loginButton:hover {
    color: #ffffff;
    background-color: #0dc991;
}

.button1 {
    color: #000000;
    background-color: #3eb00c;
    font-size: 11px;
    border: 2px solid #000000;
    padding: 10px 30px;
    cursor: pointer
}

.button1:hover {
    color: #ffffff;
    background-color: #0dc991;
}

.img_style{
    width: 100px; 
    height: 69px; 
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: green;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:hover {
    background-color: #339966;
}

input:checked + .slider:hover {
    background-color: #339966;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

label {
    display: inline-block;
    width: 27%;
    text-align: middle;
}

.font_login{
    font-size: 26px;
    margin-bottom: 10%;
}

.spacing{
    margin-bottom: 7%;
    margin-top: 7%;
}

.flex_container{
    display: flex;
    flex-direction: column;
}

.flex_container2{
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
    margin-top: 10%;    
}

